{% extends "base.html" %}
{% load i18n %}
{% load check_counter %}

{% block content %}
{% if notification %}
<h3>Your Notification</h3>
<table border="0" class="table table-striped">
  <tr>
    <th>Subject</th>
    <th>Message</th>
  </tr>
  {% for notif in notification %}
  <tr>
    <td>
      {% if notif.status != 'read' %}
      <span class="badge badge-info">{{ notif.status|title }}</span> 
      {% endif %}
      {{ notif.subject }}
    </td>
    <td>{{ notif.message }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% if requests %}
<h3>Your Request</h3>
<table border="0" class="table table-striped">
  <tr>
    <th>Destinations</th>
    <th>Date</th>
    <th>Duration</th>
    <th>Adult</th>
    <th>Child</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
    <th>Counter Offers</th>
  </tr>
  {% for req in requests %}
    <tr>
      <td>
        {% for dest in req.destinations.all %}
          {{dest}}, 
        {% endfor %}
      </td>
      <td>{{ req.date }}</td>
      <td>{{ req.duration }}</td>
      <td>{{ req.adult }}</td>
      <td>{{ req.child }}</td>
      <td>{{ req.price }}</td>
      <td>{{ req.status }}</td>
      <td><a href="{% url view_request req.id %}">View</a></td>
      <td><span class="badge badge-success">{{ req.id|count_counter}}</span> <a
            href="{% url counter_list %}">View Counters</a></td>
    </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}extends
