<h1>Hello Nurse!</h1>
<p>
Welcome {{name}},

This is your weekly request from user
<table border="1">
    <tr>
      <th>Destination</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
{% for request in requests %}
  <tr>
    <td>
    {% for destination in request.destinations.all %}
      {{destination}}, 
    {% endfor %}
    </td>
    <td>{{request.date}}</td>
    <td>{{request.duration}}</td>
    <td>{{request.price}}</td>
    <td><a
        href="http://202.77.101.43:8000/tour_request/id/{{request.id}}">View</a></td>
  </tr>
{% endfor %}
</table>
<br />
Goodbye!
</p>
